<footer class="footer">
    <div class="container footer-container">
        <ul class="footer-navigation">
                <li class="footer-link">
                    <a class="footer-underline" href="terms.html">Terms & Conditions</a>
                </li>            
                <li class="footer-link">
                    <a class="footer-underline" href="privacy.html">Privacy Policy</a>
                </li>
        </ul>
            <p class="footer-text">© 2026 — All rights reserved. silentturn.space</p>
<p class="footer-text-two">Silence looks easy from the outside. Then someone says the number at exactly the wrong time.</p>
    </div>
</footer>