<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <h1 class="home-title">It starts with one number. Then the room changes.</h1>
            <div class="home-text-wrapper">
                <p class="home-text">Okay, so Silent Count? Sounds boring as hell, not gonna lie.</p>
                <p>No elaborate setup. No long explanation. No hidden mechanics. Just a group of people trying to count in order without
                talking at the same time. That’s all.</p>
                <p class="home-text-two">And then it begins.</p>
                <p>Someone says “one.” Another person waits. Someone hesitates. Someone panics and speaks too early. Two voices collide.
                The round dies in public. Everyone laughs, resets, and suddenly the room is fully invested in something that looked
                effortless thirty seconds ago. Somehow Silent Count takes this super basic idea and makes everyone lose their minds in
                the best way possible.</p>
            </div>
            <ul class="home-list">
                <li class="home-item">
                    <p class="rate">1.0</p>
                    <p class="home-item-text">Current version</p>
                </li>
                <li class="home-item">
                    <p class="rate">8.0<span class="span">+</span> </p>
                    <p class="home-item-text">Android version</p>
                </li>
                <li class="home-item">
                    <p class="rate">Jan 13, 2026</p>
                    <p class="home-item-text">Released</p>
                </li>
                <li class="home-item">
                    <p class="rate">10<span class="span">+</span></p>
                    <p class="home-item-text">Downloads</p>
                </li>
            </ul>
        </div>
        <img class="home-img" src="/img/home/desk.png" alt="Silent Count" loading="lazy">
    </div>
</section>