body{
  font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}
h2{
  font-family: "Playpen Sans", sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.25;
    color: #000;
    margin-bottom: 30px;
}
@media only screen and (min-width: 1440px) {
  body{
    font-size: 20px;
  }
  h2{
    font-size: 60px;
    margin-bottom: 42px;
  }
}